* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block;
  margin: auto;
  font-family: "HK Grotesk", "HK Grotesk Pro";
  overflow-x: hidden;
}
/* первый блок: вход в кофейню */
.section-1 {
  display: flex;
  width: 1440px;
}
.kofeyna {
  margin-left: 3%;
  margin-top: 1%;
  position: relative;
  display: inline-block;
}
.chasy_raboty {
  position: absolute;
  top: 40%;
  left: 20%;
  font-weight: 700;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 22px;
}
.chasy_raboty2 {
  position: absolute;
  top: 44%;
  left: 20%;
  font-weight: 500;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-size: 17px;
}
.girlyanda {
  position: absolute;
  top: 23%;
  left: 424px;
}
.hk_grotesk_zagolovok {
  position: absolute;
  font-weight: 700;
  top: 65%;
  left: 450px;
  color: #fb7500;
  font-size: 127px;
}
.founder {
  position: absolute;
  font-weight: 700;
  top: 81%;
  left: 1120px;
  color: #000000;
  font-size: 26px;
}
.founder2 {
  position: absolute;
  font-weight: 500;
  font-style: italic;
  top: 84%;
  left: 1010px;
  color: #000000;
  font-size: 25px;
}
.lampochka1 {
  position: absolute;
  top: 110px;
  left: 350px;
}
.lampochka2 {
  position: absolute;
  top: 130px;
  left: 580px;
}
.lampochka3 {
  position: absolute;
  top: 160px;
  left: 830px;
}
.lampochka4 {
  position: absolute;
  top: 125px;
  left: 1025px;
}
.lampochka5 {
  position: absolute;
  top: 270px;
  left: 435px;
}
.lampochka6 {
  position: absolute;
  top: 323px;
  left: 600px;
}
.lampochka7 {
  position: absolute;
  top: 282px;
  left: 765px;
}
.lampochka8 {
  position: absolute;
  top: 260px;
  left: 950px;
}
/* второй блок: меню и кружки */
.section-2 {
  display: flex;
  position: absolute;
  width: 1440px;
  margin-top: -90px;
}
.pro_shrift {
  position: absolute;

  font-weight: 700;
  text-align: right;
  white-space: nowrap;
  top: 330px;
  left: 841px;
  color: #000000;
  font-size: 48px;
}
.fon_texta {
  position: absolute;
  top: 320px;
  left: 825px;
}
.menu {
  position: absolute;
}
.hand {
  position: absolute;
  top: 450px;
}
.cup1 {
  position: absolute;
  left: 650px;
  transform: scaleX(-1);
}
.cup2 {
  position: absolute;
  top: 450px;
  left: 470px;
}
/* весь текст в меню */
.menu_text1 {
  position: absolute;
  font-weight: 700;
  white-space: nowrap;
  top: 52px;
  left: 120px;
  color: #000000;
  font-size: 64px;
  transform: rotate(7.5deg);
}
.menu_text1_2 {
  position: absolute;
  font-weight: 700;
  top: 128px;
  left: 410px;
  color: #000000;
  background-color: #fb7500;
  border-radius: 8px;
  font-size: 35px;
  transform: rotate(8deg);
}
.menu_text2 {
  position: absolute;
  white-space: nowrap;
  font-weight: 500;
  top: 118px;
  left: 110px;
  color: #000000;
  font-size: 27px;
  transform: rotate(8deg);
}
.menu_text3 {
  position: absolute;
  white-space: nowrap;
  font-weight: 500;
  top: 210px;
  left: 85px;
  color: #000000;
  font-size: 27px;
  transform: rotate(8deg);
}
.menu_text4 {
  position: absolute;
  white-space: nowrap;
  font-weight: 500;
  top: 300px;
  left: 60px;
  color: #000000;
  font-size: 27px;
  transform: rotate(8deg);
}
.menu_text2_1 {
  position: absolute;
  font-weight: 700;
  top: 205px;
  left: 360px;
  color: #000000;
  font-size: 24px;
  transform: rotate(8deg);
}
.menu_text3_1 {
  position: absolute;
  font-weight: 700;
  top: 290px;
  left: 320px;
  color: #000000;
  font-size: 24px;
  transform: rotate(8deg);
}
.menu_text4_1 {
  position: absolute;
  font-weight: 700;
  top: 380px;
  left: 280px;
  color: #000000;
  font-size: 24px;
  transform: rotate(8deg);
}
/* буквы в нижней кружке */
.bukva_a {
  position: absolute;
  font-weight: 700;
  top: 460px;
  left: 600px;
  color: #000000;
  font-size: 130px;
  transform: rotate(75deg);
}
.bukva_m {
  position: absolute;
  font-weight: 700;
  top: 545px;
  left: 580px;
  color: #000000;
  font-size: 112px;
  transform: rotate(75deg);
}
.bukva_a2 {
  position: absolute;
  font-weight: 700;
  top: 590px;
  left: 530px;
  color: #000000;
  font-size: 130px;
  transform: rotate(-50deg);
}
.bukva_y {
  position: absolute;
  font-weight: 700;
  top: 535px;
  left: 653px;
  color: #000000;
  font-size: 112px;
  transform: rotate(-50deg);
}
.bukva_g {
  position: absolute;
  font-weight: 700;
  top: 600px;
  left: 640px;
  color: #000000;
  font-size: 112px;
  transform: rotate(8deg);
}
.bukva_b {
  position: absolute;
  font-weight: 700;
  top: 520px;
  left: 510px;
  color: #000000;
  font-size: 112px;
  transform: rotate(30deg);
}
.bukva_r {
  position: absolute;
  font-weight: 700;
  top: 524px;
  left: 730px;
  color: #000000;
  font-size: 120px;
  transform: rotate(60deg);
}
/* цифры в верхней кружке */
.odin {
  position: absolute;
  font-weight: 700;
  top: 65px;
  left: 770px;
  color: #000000;
  font-size: 120px;
  transform: rotate(30deg);
}
.dva {
  position: absolute;
  font-weight: 700;
  top: 145px;
  left: 800px;
  color: #000000;
  font-size: 120px;
  transform: rotate(-40deg);
}
.tri {
  position: absolute;
  font-weight: 700;
  top: 95px;
  left: 860px;
  color: #000000;
  font-size: 120px;
  transform: rotate(90deg);
}
.chetyre {
  position: absolute;
  font-weight: 700;
  top: 30px;
  left: 900px;
  color: #000000;
  font-size: 120px;
  transform: rotate(120deg);
}
.pyat {
  position: absolute;
  font-weight: 700;
  top: 145px;
  left: 925px;
  color: #000000;
  font-size: 120px;
  transform: rotate(35deg);
}
/* третий блок: алфавит */
.section-3 {
  display: flex;
  width: 1440px;
  position: absolute;
  margin-top: 810px;
}
.alphabet {
  position: absolute;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  top: 30px;
  left: 50px;
  color: #000000;
  font-size: 106px;
}
.zerno1 {
  position: absolute;
  top: 90px;
  left: 940px;
  transform: rotate(90deg);
}
.zerno2 {
  position: absolute;
  top: 240px;
  left: 250px;
  transform: scale(0.9);
}
.plastic_cup {
  position: absolute;
  top: 160px;
  left: 860px;
}
/* буквы на чашке господи помоги */
.kofe_k1 {
  position: absolute;
  font-weight: 700;
  top: 260px;
  left: 950px;
  color: #fb7500;
  font-size: 106px;
  transform: rotate(-10deg);
}
.kofe_o1 {
  position: absolute;
  font-weight: 700;
  top: 248px;
  left: 1005px;
  color: #fb7500;
  font-size: 106px;
  transform: rotate(-15deg);
}
.kofe_f1 {
  position: absolute;
  font-weight: 700;
  top: 230px;
  left: 1063px;
  color: #fb7500;
  font-size: 106px;
  transform: rotate(-15deg);
}
.kofe_e1 {
  position: absolute;
  font-weight: 700;
  top: 210px;
  left: 1140px;
  color: #fb7500;
  font-size: 106px;
  transform: rotate(-17deg);
}
.kofe_k2 {
  position: absolute;
  font-weight: 700;
  top: 450px;
  left: 1005px;
  color: #fb7500;
  font-size: 106px;
  transform: rotate(-25deg) scaleY(-1);
}
.kofe_o2 {
  position: absolute;
  font-weight: 700;
  top: 429px;
  left: 1055px;
  color: #fb7500;
  font-size: 106px;
  transform: rotate(-15deg) scaleY(-1);
}
.kofe_f2 {
  position: absolute;
  font-weight: 700;
  top: 410px;
  left: 1115px;
  color: #fb7500;
  font-size: 106px;
  transform: rotate(-15deg) scaleY(-1);
}
.kofe_e2 {
  position: absolute;
  font-weight: 700;
  top: 398px;
  left: 1190px;
  color: #fb7500;
  font-size: 106px;
  transform: rotate(-5deg) scaleY(-1);
}
/* четвертый блок: капсулы */
.section-4 {
  display: flex;
  width: 1440px;
  position: absolute;
  margin-top: 1350px;
}
.poloska1 {
  position: absolute;
}
.zagolovok_2 {
  position: absolute;
  font-weight: 700;
  top: 20px;
  left: 50px;
  color: #000000;
  font-size: 64px;
  background-color: #ffffff;
  border-radius: 5px;
}
.podzagolovok_2 {
  position: absolute;
  font-weight: 700;
  white-space: nowrap;
  top: 95px;
  left: 50px;
  color: #000000;
  font-size: 32px;
  background-color: #ffffff;
  border-radius: 5px;
}
/* капсулки кофейные */
.circle1 {
  position: absolute;
  top: 250px;
  left: 20px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle2 {
  position: absolute;
  top: 250px;
  left: 230px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle3 {
  position: absolute;
  top: 250px;
  left: 440px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle4 {
  position: absolute;
  top: 250px;
  left: 650px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.minicircle4 {
  position: absolute;
  top: 267px;
  left: 667px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 146px;
  width: 146px;
}
.otkroy1 {
  position: absolute;
  top: 230px;
  left: 750px;
}
.circle5 {
  position: absolute;
  top: 250px;
  left: 860px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle6 {
  position: absolute;
  top: 250px;
  left: 1070px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle7 {
  position: absolute;
  top: 250px;
  left: 1280px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
/* второй ряд */
.circle8 {
  position: absolute;
  top: 460px;
  left: -30px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle9 {
  position: absolute;
  top: 460px;
  left: 180px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.minicircle9 {
  position: absolute;
  top: 477px;
  left: 197px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 146px;
  width: 146px;
}
.otkroy2 {
  position: absolute;
  top: 605px;
  left: 200px;
  transform: rotate(180deg);
}
.circle10 {
  position: absolute;
  top: 460px;
  left: 390px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle11 {
  position: absolute;
  top: 460px;
  left: 600px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle12 {
  position: absolute;
  top: 460px;
  left: 810px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle13 {
  position: absolute;
  top: 460px;
  left: 1020px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
.circle14 {
  position: absolute;
  top: 460px;
  left: 1230px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 50%;
  height: 180px;
  width: 180px;
}
/* буквы в капсулах */
.a1 {
  position: absolute;
  top: 265px;
  left: 75px;
  font-size: 128px;
  font-weight: 100;
}
.a2 {
  position: absolute;
  top: 265px;
  left: 285px;
  font-size: 128px;
  font-weight: 200;
}
.a3 {
  position: absolute;
  top: 269px;
  left: 495px;
  font-size: 130px;
  font-weight: 300;
}
.a5 {
  position: absolute;
  top: 263px;
  left: 915px;
  font-size: 130px;
  font-weight: 400;
}
.a6 {
  position: absolute;
  top: 269px;
  left: 1125px;
  font-size: 130px;
  font-weight: 500;
}
.a7 {
  position: absolute;
  top: 265px;
  left: 1335px;
  font-size: 130px;
  font-weight: 600;
}
/* второй ряд */
.a8 {
  position: absolute;
  top: 475px;
  left: 20px;
  font-size: 130px;
  font-style: italic;
  font-weight: 400;
}
.a10 {
  position: absolute;
  top: 475px;
  left: 440px;
  font-size: 130px;
  font-style: italic;
  font-weight: 500;
}
.a11 {
  position: absolute;
  top: 475px;
  left: 650px;
  font-size: 130px;
  font-style: italic;
  font-weight: 600;
}
.a12 {
  position: absolute;
  top: 475px;
  left: 860px;
  font-size: 130px;
  font-style: italic;
  font-weight: 700;
}
.a13 {
  position: absolute;
  top: 475px;
  left: 1070px;
  font-size: 130px;
  font-style: italic;
  font-weight: 800;
}
.a14 {
  position: absolute;
  top: 475px;
  left: 1280px;
  font-size: 130px;
  font-style: italic;
  font-weight: 900;
}
.coffeecapsule {
  position: absolute;
  top: 315px;
  left: 700px;
  font-size: 28px;
  font-weight: 300;
}
.capsulecoffee {
  position: absolute;
  top: 335px;
  left: 687px;
  font-size: 28px;
  font-weight: 700;
}
.coffeecapsule2 {
  position: absolute;
  top: 525px;
  left: 230px;
  font-size: 28px;
  font-weight: 300;
}
.capsulecoffee2 {
  position: absolute;
  top: 545px;
  left: 220px;
  font-size: 28px;
  font-weight: 700;
}
/* пятый блок: кофейные пакеты и начертания */
.section-5 {
  display: flex;
  width: 1440px;
  position: absolute;
  margin-top: 2000px;
}
.packety {
  position: absolute;
  top: 50px;
  left: 400px;
}
.packety_2 {
  position: absolute;
  top: 300px;
  left: 1300px;
}
.packety_text1_1 {
  position: absolute;
  top: 195px;
  left: 595px;
  font-size: 72px;
  font-weight: 700;
  transform: rotate(2deg);
}
.packety_text1_2 {
  position: absolute;
  top: 360px;
  left: 580px;
  font-size: 68px;
  font-weight: 700;
  transform: rotate(2deg);
}
.packety_text1_3 {
  position: absolute;
  top: 435px;
  left: 580px;
  font-size: 23px;
  font-weight: 300;
  transform: rotate(3deg);
}
.zernochernoe1 {
  position: absolute;
  top: 142px;
  left: 765px;
}
.packety_text2_1 {
  position: absolute;
  top: 590px;
  left: 520px;
  font-size: 50px;
  font-weight: 500;
  transform: rotate(-93deg);
}
.packety_text2_2 {
  position: absolute;
  top: 590px;
  left: 635px;
  font-size: 60px;
  font-weight: 700;
  transform: rotate(-92deg);
}
.packety_text2_3 {
  position: absolute;
  top: 570px;
  left: 730px;
  font-size: 23px;
  font-weight: 300;
  text-align: right;
  transform: rotate(-91deg);
}
.zernochernoe2 {
  position: absolute;
  top: 554px;
  left: 499px;
  transform: rotate(-70deg);
}
/* начертания */
.nachertania1 {
  position: absolute;
  top: 80px;
  left: 80px;
  font-size: 52px;
  font-weight: 100;
}
.nachertania2 {
  position: absolute;
  top: 130px;
  left: 80px;
  font-size: 52px;
  font-weight: 200;
}
.nachertania3 {
  position: absolute;
  top: 186px;
  left: 80px;
  font-size: 52px;
  font-weight: 300;
}
.nachertania4 {
  position: absolute;
  top: 230px;
  left: 80px;
  font-size: 54px;
  font-weight: 400;
}
.nachertania5 {
  position: absolute;
  top: 280px;
  left: 80px;
  font-size: 54px;
  font-weight: 500;
}
.nachertania6 {
  position: absolute;
  top: 325px;
  left: 80px;
  font-size: 54px;
  font-weight: 600;
}
.nachertania7 {
  position: absolute;
  top: 378px;
  left: 80px;
  font-size: 54px;
  font-weight: 700;
}
.nachertania8 {
  position: absolute;
  top: 425px;
  left: 80px;
  font-size: 54px;
  font-weight: 800;
}
.nachertania9 {
  position: absolute;
  top: 475px;
  left: 80px;
  font-size: 54px;
  font-weight: 900;
}
.nachertania10 {
  position: absolute;
  font-style: italic;
  top: 80px;
  left: 930px;
  font-size: 52px;
  font-weight: 100;
}
.nachertania11 {
  position: absolute;
  font-style: italic;
  top: 130px;
  left: 930px;
  font-size: 52px;
  font-weight: 200;
}
.nachertania12 {
  position: absolute;
  font-style: italic;
  top: 183px;
  left: 930px;
  font-size: 52px;
  font-weight: 300;
}
.nachertania13 {
  position: absolute;
  font-style: italic;
  top: 234px;
  left: 930px;
  font-size: 54px;
  font-weight: 400;
}
.nachertania14 {
  position: absolute;
  font-style: italic;
  top: 280px;
  left: 930px;
  font-size: 54px;
  font-weight: 500;
}
.nachertania15 {
  position: absolute;
  font-style: italic;
  top: 327px;
  left: 930px;
  font-size: 54px;
  font-weight: 600;
}
.nachertania16 {
  position: absolute;
  font-style: italic;
  top: 376px;
  left: 930px;
  font-size: 54px;
  font-weight: 700;
}
.nachertania17 {
  position: absolute;
  font-style: italic;
  top: 425px;
  left: 930px;
  font-size: 54px;
  font-weight: 800;
}
.nachertania18 {
  position: absolute;
  font-style: italic;
  top: 475px;
  left: 930px;
  font-size: 54px;
  font-weight: 900;
}
.poloska2 {
  position: absolute;
  transform: scaleY(-1);
  top: 750px;
}
/* шестой блок: прилавок и меню */
.section-6 {
  display: flex;
  width: 1440px;
  position: absolute;
  margin-top: 2900px;
}
.zagolovok_3 {
  position: absolute;
  font-weight: 700;
  top: 20px;
  left: 80px;
  color: #000000;
  font-size: 64px;
  background-color: #ffffff;
  border-radius: 5px;
}
.prilavok {
  position: absolute;
  top: 128px;
}
/* всё что в меню написано */
.prilavok_menu {
  position: absolute;
  font-weight: 500;
  top: 220px;
  left: 300px;
  font-size: 100px;
}
.round1 {
  position: absolute;
  top: 425px;
  left: 225px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 70px;
  height: 140px;
  width: 468px;
}
.prilavok_text1 {
  position: absolute;
  font-weight: 700;
  top: 575px;
  left: 270px;
  font-size: 45px;
  line-height: 100%;
}
.prilavok_s1 {
  position: absolute;
  font-weight: 900;
  top: 390px;
  left: 270px;
  font-size: 176px;
}
.prilavok_s2 {
  position: absolute;
  font-weight: 700;
  top: 398px;
  left: 410px;
  font-size: 176px;
}
.prilavok_s3 {
  position: absolute;
  font-weight: 500;
  top: 398px;
  left: 540px;
  font-size: 176px;
}
.price1 {
  position: absolute;
  font-weight: 500;
  top: 370px;
  left: 270px;
  font-size: 38px;
}
.round2 {
  position: absolute;
  top: 290px;
  left: 790px;
  background: #ffffff;
  border: 8px solid #000000;
  border-radius: 70px;
  height: 159px;
  width: 554px;
}
.prilavok_text2 {
  position: absolute;
  font-weight: 700;
  top: 460px;
  left: 830px;
  font-size: 45px;
  line-height: 100%;
}
.prilavok_a1 {
  position: absolute;
  font-weight: 900;
  top: 265px;
  left: 850px;
  font-size: 176px;
}
.prilavok_a2 {
  position: absolute;
  font-weight: 700;
  top: 273px;
  left: 1020px;
  font-size: 176px;
}
.prilavok_a3 {
  position: absolute;
  font-weight: 500;
  top: 273px;
  left: 1183px;
  font-size: 176px;
}
.price2 {
  position: absolute;
  font-weight: 500;
  top: 235px;
  left: 1120px;
  font-size: 38px;
}
/* всё что лежит на прилавке */
.boba {
  position: absolute;
  top: 860px;
  left: 100px;
}
.sahar {
  position: absolute;
  top: 1070px;
  left: 300px;
}
.prilavok_infa_outter {
  position: absolute;
  top: 650px;
  left: 800px;
  background: #fb7500;
  height: 115px;
  width: 586px;
}
.prilavok_infa_inner {
  position: absolute;
  top: 662px;
  left: 830px;
  font-weight: 700;
  font-size: 44px;
  color: #ffffff;
}
.prilavok_m {
  position: absolute;
  top: 760px;
  left: 910px;
  font-weight: 700;
  font-size: 213px;
}
.prilavok_s {
  position: absolute;
  top: 760px;
  left: 1200px;
  font-weight: 700;
  font-size: 213px;
}
.prilavok_a {
  position: absolute;
  top: 976px;
  left: 935px;
  font-weight: 700;
  font-size: 213px;
}
.prilavok_u {
  position: absolute;
  top: 976px;
  left: 1200px;
  font-weight: 700;
  font-size: 213px;
}
.prilavok_b {
  position: absolute;
  top: 1200px;
  left: 910px;
  font-weight: 700;
  font-size: 213px;
}
.sale {
  position: absolute;
  top: 1385px;
  left: 1150px;
  background: #fbe600;
  height: 69px;
  width: 237px;
}
.sale_text {
  position: absolute;
  top: 1398px;
  left: 1170px;
  font-weight: 700;
  font-size: 43px;
}
/* седьмая секция: чашечки, цифры и глифы */
.section-7 {
  display: flex;
  width: 1440px;
  position: absolute;
  margin-top: 4340px;
}
.zagolovok_4 {
  position: absolute;
  font-weight: 700;
  top: 200px;
  left: 600px;
  color: #000000;
  font-size: 64px;
  background-color: #ffffff;
  border-radius: 5px;
}
.cups {
  position: absolute;
  top: 400px;
}
.numbers_1 {
  position: absolute;
  font-weight: 700;
  top: 230px;
  left: 355px;
  color: #000000;
  font-size: 405px;
}
.numbers_2 {
  position: absolute;
  font-weight: 700;
  top: 600px;
  left: 10px;
  color: #000000;
  font-size: 405px;
}
.numbers_3 {
  position: absolute;
  font-weight: 700;
  top: 770px;
  left: 450px;
  color: #000000;
  font-size: 405px;
}
.numbers_4 {
  position: absolute;
  font-weight: 700;
  top: 530px;
  left: 785px;
  color: #000000;
  font-size: 405px;
}
.numbers_5 {
  position: absolute;
  font-weight: 700;
  top: 310px;
  left: 1070px;
  color: #000000;
  font-size: 405px;
}
.numbers_6 {
  position: absolute;
  font-weight: 700;
  top: 760px;
  left: 1190px;
  color: #000000;
  font-size: 405px;
}
.glify {
  position: absolute;
  top: 1150px;
  left: 50px;
  background-color: #fb7500;
  border-radius: 100px;
  height: 506px;
  width: 1309px;
}
.glify_text {
  position: absolute;
  font-weight: 700;
  top: 1195px;
  left: 120px;
  color: #ffffff;
  font-size: 89px;
  line-height: 110px;
}
/* восьмая секция: уютные печеньки */
.section-8 {
  display: flex;
  width: 1440px;
  position: absolute;
  margin-top: 6150px;
}
.zagolovok_5 {
  position: absolute;
  font-weight: 700;
  left: 700px;
  font-size: 64px;
}
.podzagolovok_5 {
  position: absolute;
  font-weight: 500;
  left: 700px;
  top: 90px;
  font-size: 47px;
  line-height: 115%;
}
.cookie {
  position: absolute;
  left: 20px;
  top: 80px;
}
.package {
  position: absolute;
  left: 780px;
  top: 400px;
}
.receipt {
  position: absolute;
  left: 400px;
  top: 685px;
}
.cookie_text1 {
  position: absolute;
  font-weight: 700;
  font-size: 165px;
  top: 325px;
  left: 190px;
  line-height: 140%;
  text-align: right;
  transform: rotate(22.5deg);
}
.cookie_text2 {
  position: absolute;
  font-weight: 700;
  font-size: 165px;
  top: 455px;
  left: 130px;
  transform: rotate(22.5deg);
}
.vkusno {
  position: absolute;
  top: 580px;
  left: 900px;
  background-color: #fb7500;
  height: 62px;
  width: 303px;
  border: 8px solid #ffffff;
  border-radius: 100%;
  transform: rotate(30deg);
}
.vkusno_text {
  position: absolute;
  top: 592px;
  left: 952px;
  font-weight: 700;
  color: #ffffff;
  font-size: 30.5px;
  transform: rotate(30deg);
}
.receipt_1 {
  position: absolute;
  top: 810px;
  left: 570px;
  font-weight: 500;
  font-size: 27px;
  transform: rotate(-23deg);
}
.receipt_1_1 {
  position: absolute;
  top: 898px;
  left: 600px;
  font-weight: 500;
  font-size: 18px;
  transform: rotate(-23deg);
}
.receipt_2 {
  position: absolute;
  top: 885px;
  left: 608px;
  font-weight: 500;
  font-size: 27px;
  transform: rotate(-23deg);
}
.receipt_2_1 {
  position: absolute;
  top: 982px;
  left: 638px;
  font-weight: 500;
  font-size: 18px;
  transform: rotate(-23deg);
}
.receipt_3 {
  position: absolute;
  top: 990px;
  left: 645px;
  font-weight: 500;
  font-size: 27px;
  transform: rotate(-23deg);
}
.receipt_3_1 {
  position: absolute;
  top: 1042px;
  left: 665px;
  font-weight: 500;
  font-size: 18px;
  transform: rotate(-23deg);
}
.receipt_4 {
  position: absolute;
  top: 1045px;
  left: 680px;
  font-weight: 700;
  font-size: 26px;
  transform: rotate(-23deg);
}
/* девятая секция: УРА КОНЕЦ ПОДВАЛ */
.section-9 {
  display: flex;
  width: 1440px;
  position: absolute;
  margin-top: 7400px;
  margin-left: -50px;
}
.sign {
  position: absolute;
  left: 550px;
}
.closed {
  position: absolute;
  top: 205px;
  left: 610px;
  font-weight: 700;
  font-size: 110px;
  transform: rotate(-7.8deg);
}
.finishzerno1 {
  position: absolute;
  top: 70px;
  left: 1250px;
  transform: scale(3) rotate(85deg);
}
.finishzerno2 {
  position: absolute;
  top: 260px;
  left: 200px;
  transform: scale(3) rotate(10deg);
}
.ostorojno {
  position: absolute;
  top: 10px;
  left: 50px;
  background-color: #fb7500;
  height: 63px;
  width: 483px;
  border-radius: 50px;
  transform: rotate(-18deg);
}
.ostorojno_text {
  position: absolute;
  top: 18px;
  left: 65px;
  font-weight: 700;
  color: #ffffff;
  font-size: 52px;
  transform: rotate(-18deg);
}
.caution {
  position: absolute;
  top: 320px;
  left: 1050px;
  background-color: #fbe600;
  height: 71px;
  width: 384px;
  border: 8px solid #000000;
  border-radius: 50px;
  transform: rotate(12deg);
}
.caution_text {
  position: absolute;
  top: 328px;
  left: 1085px;
  font-weight: 700;
  font-size: 52px;
  transform: rotate(12deg);
}
.finish_chasy_raboty {
  position: absolute;
  top: 400px;
  left: 615px;
  font-weight: 700;
  font-size: 53px;
}
.finish_chasy_raboty2 {
  position: absolute;
  top: 463px;
  left: 600px;
  font-weight: 500;
  font-size: 43px;
  text-align: center;
}
.podval {
  position: absolute;
  top: 615px;
  left: 50px;
  height: 121px;
  width: 1440px;
  background-color: #000000;
}
.podval_text {
  position: absolute;
  top: 635px;
  left: 80px;
  font-weight: 500;
  color: #ffffff;
  font-size: 38px;
  text-align: left;
}
